<div>  
    <div class="title_text center-align">
        <h1>{{movie.title}}</h1><br>
        <img src={{movie.poster}}>
    </div><br>
    <div class="main_text center-align">
        <a href="/movies" class="waves-effect waves-light btn red">Back to Movies</a>
        <a href="#" class="waves-effect waves-light btn red">Rent for {{movie.rentalPrice}}</a>
    </div><br>
    <div class="main_text card z-depth-4">
        <h4>Original Release Date</h4>{{movie.releaseDate}}<br><br>
    </div>
    <div class="main_text card z-depth-4">
        <h4>Lead Actor(s)</h4>{{movie.leadActor}}<br><br>
    </div>
    <div class="main_text card z-depth-4">
        <h4>Plot Synopsis</h4>{{movie.description}}<br><br>
    </div>
    <div class="main_text card z-depth-4">
        <h4>Reviews:</h4>
    </div>
</div>
