<div>  
    <div class="center-align">
        <h1>{{user.username}}</h1><br>
        <img class="card" src={{user.image}}>
    </div><br>
    <div class="center-align">
        <a href="/users" class="waves-effect waves-light btn red">Back to Users</a>
        <a href="/movies" class="waves-effect waves-light btn red">View Movies</a>
    </div><br>
    <div class="card z-depth-4">
        <h2> Name: </h2><h4>{{user.name}}</h4>
        <h2> Favorite movie: </h2><h4>{{user.favoriteMovie}}</h4>
        <h2> Stream status: </h2><h4>{{user.status}}</h4>
        <h2> About {{user.name}}: </h2><h4>{{user.bio}}</h4><br>
        <h2> Wish List: </h2><h4>{{user.wishList}}</h4><br>
    </div>
</div>